﻿@model AgenciaViajesApp.Models.Viajes

@{
    ViewBag.Title = "Create";
}

<h2>Nuevo Viaje</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <br />
                <div class="col-md-6">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        @Html.LabelFor(model => model.Codigo, htmlAttributes: new { @class = "control-label col-md-2" })

                        @Html.EditorFor(model => model.Codigo, new { htmlAttributes = new { @class = "form-control", @Value = ViewBag.codigo } })
                        @Html.ValidationMessageFor(model => model.Codigo,"", new { @class = "text-danger" })

                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Origen, htmlAttributes: new { @class = "control-label col-md-2" })

                        @Html.EditorFor(model => model.Origen, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Origen, "", new { @class = "text-danger" })

                    </div>


                    <div class="form-group">
                        @Html.LabelFor(model => model.Precio, htmlAttributes: new { @class = "control-label col-md-2" })

                        @Html.EditorFor(model => model.Precio, new { htmlAttributes = new { @class = "form-control", @type = "number", @min = "0" } })
                        @Html.ValidationMessageFor(model => model.Precio, "", new { @class = "text-danger" })

                    </div>

                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Plazas, htmlAttributes: new { @class = "control-label col-md-2" })

                        @Html.EditorFor(model => model.Plazas, new { htmlAttributes = new { @class = "form-control", @min = "0" } })
                        @Html.ValidationMessageFor(model => model.Plazas, "", new { @class = "text-danger" })

                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Destino, htmlAttributes: new { @class = "control-label col-md-2" })

                        @Html.EditorFor(model => model.Destino, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Destino, "", new { @class = "text-danger" })

                    </div>

                </div>

            </div>
            <div class="form-group">
                <input type="submit" value="Nuevo" class="btn btn-primary " style="float:right; margin-right:16%;" />
            </div>
        </div>
    </div>

}


<div>
    @Html.ActionLink("Lista Viajes", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
