﻿@model AgenciaViajesApp.Models.Viajeros


<style>
    label{
        margin-right: 20px;
    }
</style>




@Html.HiddenFor(model => model.Id)

<div class="row">
    <div class="col-md-12" style="margin-top: 30px;">
        <div class="row">

            <div class="col-md-8 col-md-offset-2">

                <div class="form-group">
                    @Html.LabelFor(model => model.Cedula, htmlAttributes: new { @class = "control-label col-md-2" })

                    @Html.EditorFor(model => model.Cedula, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Cedula, "", new { @class = "text-danger" })

                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })

                    @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })

                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Telefono, htmlAttributes: new { @class = "control-label col-md-2" })

                    @Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })

                    <hr />
                    <input type="button" id="update-viajero" value="Editar" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    $(document).ready(function () {

        $('#update-viajero').click(() => {

            var viajeroId = $('#Id').val();
            var cedula = $('#Cedula').val();
            var nombre = $('#Nombre').val();
            var telefono = $('#Telefono').val();

            var viajeroModel = { "Id": viajeroId, "Cedula": cedula, "Nombre": nombre, "Telefono": telefono };

            $.post('/Viajero/EditPartial', viajeroModel, function (data) {
                if (data == 0) {
                    location: location.href;
                } else {

                    setTimeout(() => {
                        location.reload();
                    }, 500);
                }
            }, 'json');


        });
    });
</script>
