﻿@model IEnumerable<Viajeros>

@{
    ViewBag.Title = "Index";
}

<h2>Viajeros</h2>

<p>
    @Html.ActionLink("Inscribir Nuevo Viajero", "Create")
</p>
<div class="table-responsive">
    <table class="table table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cedula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Cedula)
                </td>
                <td>
                    @Html.Truncar(@item.Nombre, 10)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefono)
                </td>
                <td>
                    @* @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |*@
                    <a href="javascript:void(0);" class="editAnchor" data-id="@item.Id">Editar</a>|

                    @Html.ActionLink("Eliminar", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
</div>

<div id="openpopup" style="display:none;"></div>

@section Scripts {
    <script>
        $(document).ready(function () {

            var x = $('#openpopup');         


            $('.editAnchor').click((event) => {
       
                var id = event.currentTarget.dataset.id;          

              
                //x.load("/Viajero/EditPartial?id=" + id, function () {

                x.load("/Viajero/Edit?id=" + id, function () {

                    x.dialog({
                        show: {
                            effect: "blind",
                            duration: 1000
                        },
                        hide: {
                            effect: "explode",
                            duration: 1000
                        },
                        modal: true,
                        width: 600,
                        height: 500,
                        title: "Actualizar Viajero: " + id,
                        resizable: false
                    });

                });

            });

        });

    </script>
}