﻿@model AgenciaViajesApp.Models.ViajesRealizados

@{
    ViewBag.Title = "Create";

    var viajerosList = (IEnumerable<SelectListItem>)ViewBag.listViajeros;
    var viajesList = (IEnumerable<SelectListItem>)ViewBag.listViajes;
}

<h2>Crear Nueva Relación Viajero - Viaje</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <hr />

    <div class="row">
        <div class="col-md-12">
            
            @Html.HiddenFor(model => Model.ViajeId, new { htmlAttributes = new { id = "ViajeId" } })
            @Html.HiddenFor(model => Model.ViajeroId, new { htmlAttributes = new { id = "ViajeroId" } })

            <div class="row">

                <div class="col-md-6">

                    <div class="form-group">
                        @Html.Label("Viajeros", "Lista de Viajeros (Nombre - Cédula)")

                        @Html.DropDownList("Viajeros", viajerosList, new { @class = "form-control check", id = "viajerosSelect" })
                    </div>

                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.Label("Nombre", "Nombre")
                                @Html.Editor("Nombre", new { htmlAttributes = new { @class = "form-control", id = "nombre", placeholder = "Nombre Viajero", required = "required" } })
                                @Html.ValidationMessage("Nombre", "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                @Html.Label("Telefono", "Teléfono")
                                @Html.Editor("Telefono", new { htmlAttributes = new { @class = "form-control", id = "telefono", placeholder = "Telefono Viajero", required = "required" } })
                                @Html.ValidationMessage("Telefono", "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.Label("Cedula", "Cedula")
                                @Html.Editor("Cedula", new { htmlAttributes = new { @class = "form-control", id = "cedula", placeholder = "Cedula Viajero", required = "required" } })
                                @Html.ValidationMessage("Cedula", "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>

                </div>


                <div class="col-md-6">

                    <div class="form-group">
                        @Html.Label("Viajes", "Lista de Viajes (Origen - Destino)")

                        @Html.DropDownList("Viajes", viajesList, new { @class = "form-control", id = "viajesSelect" })
                    </div>

                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.Label("Codigo", "Codigo")
                                @Html.Editor("Codigo", new { htmlAttributes = new { @class = "form-control", id = "codigo", placeholder = "Codigo Viaje", required = "required" } })
                                @Html.ValidationMessage("Plazas", "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                @Html.Label("Plazas", "Plazas")
                                @Html.Editor("Plazas", new { htmlAttributes = new { @class = "form-control", id = "plazas", placeholder = "Cantidad de Plazas", required = "required" } })
                                @Html.ValidationMessage("Plazas", "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.Label("Origen", "Origen")
                                @Html.Editor("Origen", new { htmlAttributes = new { @class = "form-control", id = "origen", placeholder = "Origen Viaje", required = "required" } })
                                @Html.ValidationMessage("Precio", "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                @Html.Label("Destino", "Destino")
                                @Html.Editor("Destino", new { htmlAttributes = new { @class = "form-control", id = "destino", placeholder = "Destino Viaje", required = "required" } })
                                @Html.ValidationMessage("Precio", "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>

                    <div class="form-group">
                        @Html.Label("Precio", "Precio")
                        @Html.Editor("Precio", new { htmlAttributes = new { @class = "form-control", id = "precio", placeholder = "Precio Viaje", required = "required" } })
                        @Html.ValidationMessage("Precio", "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>



        </div>


    </div>

    <div class="form-group" style="float:right;">
        <input type="submit" value="Nuevo" class="btn btn-primary" style="width:120%;" />
    </div>

}

<div>
    @Html.ActionLink("Lista Viajes Realizados", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/App/CreateViajesRealizados.js" type="module"></script>
}