﻿@model AgenciaViajesApp.Models.ViajesRealizados

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar Viaje realizado</h2>

<h3>Esta seguro de eliminar este elemento, ya que la operación es irreversible..!!</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        

        <dt>
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaRegistro)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-warning" /> |
            @Html.ActionLink("Lista Viajes Realizados", "Index")
        </div>
    }
</div>
