﻿@{
    ViewBag.Title = "Acerca";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Esta es una aplicación sencilla e interesante desarrollada en entity Framewok 4.7 que consume una servicio rest desarrollado en .Net Core sobre una Agencia de Viajes</p>
