﻿@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Valera, Estado Trujillo<br />   
    <abbr title="Phone">P:</abbr>
    (+ 58) 424 7321023 / (+58) 271-2351928
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:carlosuerbagt@example.com">carlosuerbagt@example.com</a><br />
   
</address>