﻿@{
    ViewBag.Title = "Principal";
}


<div class="row">
    <div class="col-md-4">
        <h2>Viajeros</h2>
        <p>
            Aquí podrá agregar y editar los clientes dispuestos a utilizar los servicios de viajes.
        </p>
        <p><a class="btn btn-default" href='@Url.Action("Index", "Viajero")'>Viajeros &raquo;</a> </p>
    </div>
    <div class="col-md-4">
        <h2>Viajes</h2>
        <p>Agregue aquí los nuevos paquetes de viajes o gestione lo ya existentes.</p>
        <p><a class="btn btn-default" href='@Url.Action("Index", "Viajes")'>Viajes &raquo;</a> </p>
    </div>
    <div class="col-md-4">
        <h2>Viajes Realizados</h2>
        <p>Mantengase informado sobre los registros de viajes realizados por los viajeros.</p>
        <p><a class="btn btn-default" href='@Url.Action("Index", "ViajesRealizados")'>Viajes realizados &raquo;</a> </p>     
    </div>
</div>